*{
    margin: 0;
    padding: 0;
}

.seleccionado {
    background-color: #ffcccb; /* Color rojo claro */
    cursor: pointer;
}

/* Barra de navegacion */
nav div img{
    height: 80px;
}
nav{
    background-color: black;
}
.hover i{
    font-size: 50px;
    
}
.hover a{
    font-size: 15px;
    text-decoration: none;
    color: white;
}
.hover:hover i, .hover:hover a {
    background-color: white;
    color:black;
    transition: 0.3s;
}
.hover{
    all:unset;
    display: flex;
    align-items: center;
    padding:3px;
    transition: 0.3s;
    color: white;
}
.hover:hover{
    background-color: white;
    color:black;
    transition: 0.1s;
}

/* Estilos para el punto de venta */
.enter{
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;

}
.enter:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}

.form-escaneo{
    background-color: #5db282;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    font-weight: bold;
}
.form-escaneo div{
    margin: 5px;
}
form input{
    height: 40px;
}
.tabla-principal thead .row{
    background-color: #b1b2b5;
    border-radius: 10px;
    margin: 5px 10px 5px 10px;
}
.tbody {
    display: block;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    height: 200px;
    min-height: 200px;
    border-radius: 10px;
    margin: 10px;   
}
.tabla-principal tfoot .row {
    height: 100px;
    background-color: #b1b2b5;
    border-radius: 10px;
    margin: 10px;
}
.boton-venta{
    font-size: 30px;
    background-color: #b1b2b5;
    padding: 15px;
    border-radius: 10px;
}
.boton-venta:hover{
    transition: 0.5s;
    background-color: #96979a;
}
tr, td{
    text-align: center;
}
.icono-x{
    color: #F34C3F;
    font-weight: bold;
}
#buscar:hover{
    cursor: pointer;
}


/* Diseno para los botones de la derecha */
.botones button, .botones form{
    width: 300px;
    padding: 30px;
    margin: 10px;
    background-color: #5db282;
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;

}
.botones button:hover{
    transition: 0.4s;
    background-color: #5db282;
    color: white;
}
.botones i{
    font-size: 25px;
}

/* Ventana modal cliente nuevo */
.nuevo-cliente{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    display: none;
    z-index: 1000;
    padding: 20px;
    width: 300px;
    height: 180px;
    background-color: #5db282;
    border-radius: 10px;
    font-weight: bold;
    flex-direction: column;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}
#btn-cancelar-cliente{
    background-color: #F34C3F;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin: 5px;
    width: 100px;
}
#btn-confirmar-cliente{
    background-color: green;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
    width: 100px;
}
#btn-cancelar-cliente:hover{
    background-color: #97010E;
    transition: 0.3s;
}
#btn-confirmar-cliente:hover{
    background-color: rgb(2, 83, 2);
    transition: 0.3s;
}


/* Ventana modal alta de empleado */

#alta-empleado {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    display: none;
    height: 80vh;
    width: 40vw;
    background-color: #5db282;
    color: white;
    border-radius: 20px;
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.7);
    padding: 20px;
    overflow: hidden;
    overflow-y: auto;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

/* Estilos para la scrollbar sin afectar el border-radius */
#alta-empleado::-webkit-scrollbar {
    width: 8px; /* Ajusta el ancho */
    border-radius: 20px; /* Redondea la scrollbar */
}

#alta-empleado::-webkit-scrollbar-track {
    background: transparent; /* Hace que la pista sea invisible */
    border-radius: 20px;
}

#alta-empleado::-webkit-scrollbar-thumb {
    background: rgba(93, 178, 130, 0.8); /* Color semi-transparente */
    border-radius: 20px; /* Redondeado */
    border: 2px solid transparent; /* Evita que sobresalga */
    background-clip: padding-box;
}

/* Para Firefox */
#alta-empleado {
    scrollbar-width: thin;
    scrollbar-color: rgba(93, 178, 130, 0.8) transparent;
}

#alta-empleado form {
    width: 100%;
    height: 70%;
}

form .row {
    margin-bottom: 10px;
}

.btn-cancelar {
    background-color: #F34C3F;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin: 5px;
    width: 120px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
}

.btn-confirmar {
    background-color: green;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin: 5px;
    width: 120px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
}


/*Estilos para la ventana de retiro*/
#retiro{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    display: none;
    z-index: 1000;
    padding: 20px;
    width: 400px;
    height: 300px;
    background-color: #5db282;
    border-radius: 10px;
    font-weight: bold;
    flex-direction: column;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    text-align: center;
}
#btn-cancelar-retiro{
    background-color: #F34C3F;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin: 5px;
    width: 100px;
}
#btn-confirmar-retiro{
    background-color: green;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
    width: 100px;
}
#btn-cancelar-retiro:hover{
    background-color: #97010E;
    transition: 0.3s;
}
#btn-confirmar-retiro:hover{
    background-color: rgb(2, 83, 2);
    transition: 0.3s;
}

/*Ventana modal para ver exitencias*/

#existencias{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    display: none;
    flex-direction: column;
    height: 70vh;
    width: 50vw;
    z-index: 1000;
    background-color: #5db282;
    border-radius: 10px;
    border: 3px solid black;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

#existencias table{
    width: 100%;
    margin-top: 10px;
}
#existencias tbody{
    border: 3px solid black;
    min-height: 40vh;
    border-radius: 10px;
    margin: 10px;
    display: block;
    background-color: white;
    text-align: center;
}
#btn-cancelar-existencias{
    background-color: #F34C3F;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin: 5px;
    width: 100px;
}
#btn-imprimir-existencias{
    background-color: green;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
    width: 100px;
}
#btn-cancelar-existencias:hover{
    background-color: #97010E;
    transition: 0.3s;
}
#btn-imprimir-existencias:hover{
    background-color: rgb(2, 83, 2);
    transition: 0.3s;
}

/*Venta por dia*/

#venta-por-dia{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    display: none;
    z-index: 1000;
    padding: 20px;
    width:500px;
    height: 250px;
    background-color: #5db282;
    border-radius: 10px;
    font-weight: bold;
    flex-direction: column;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}
#cerrar-venta-por-dia{
    font-size: 30px;
    color:#F34C3F;
}
#cerrar-venta-por-dia:hover{
    cursor: pointer;
}


/*Venta por empleado*/
#venta-por-empleado{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    display: none;
    z-index: 1000;
    padding: 20px;
    width:500px;
    height: 250px;
    background-color: #5db282;
    border-radius: 10px;
    font-weight: bold;
    flex-direction: column;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}
#cerrar-venta-por-empleado{
    font-size: 30px;
    color:#F34C3F;
}
#cerrar-venta-por-empleado:hover{
    cursor: pointer;
}

@media screen and  (max-width: 980px) {
    #alta-empleado{
        height: 85vh;
        width: 90vw;
        
    }
  }
  @media screen and  (max-width: 400px) {
    #alta-empleado{
        height: 85vh;
        width: 90vw;
        
    }
  }
/* xs: Menos de 576px */
@media (max-width: 575.98px) { 
    .form-escaneo, .tabla-principal{
        font-size: 10px;
        padding: 0px;
    }
    .boton-venta{
        font-size: 20px;
    }
}

/* sm: 576px a 767px */
@media (min-width: 576px) and (max-width: 767.98px) { }

/* md: 768px a 991px */
@media (min-width: 768px) and (max-width: 991.98px) { }

/* lg: 992px a 1199px */
@media (min-width: 992px) and (max-width: 1199.98px) { }

/* xl: 1200px a 1399px */
@media (min-width: 1200px) and (max-width: 1399.98px) { }

/* xxl: 1400px en adelante */
@media (min-width: 1400px) { }
