*{
    margin: 0;
    padding: 0;
}
.seleccionado {
    background-color: #ffcccb; /* Color rojo claro */
    cursor: pointer;
}

/* Barra de navegacion */
nav div img{
    height: 80px;
}
nav{
    background-color: black;
}
.hover i{
    color: white;
    font-size: 50px;
}
.hover a{
    color: white;
    font-size: 15px;
    text-decoration: none;
}
.hover:hover i, .hover:hover a, .hover:hover {
    background-color: white;
    color:black;
}
.hover{
    all:unset;
    display: flex;
    align-items: center;
    padding:3px;
}

/* Estilos para el punto de venta */
.enter{
    border-radius: 5px;

}
.enter:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}
.form-escaneo{
    background-color: #5db282;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    font-weight: bold;
}
form input{
    height: 40px;
}
.tabla-principal thead .row{
    background-color: #b1b2b5;
    border-radius: 10px;
    margin: 5px 10px 5px 10px;
}
.tbody{
    border: 5px solid black;
    height: 250px;
    min-height: 250px;
    border-radius: 10px;
    margin: 10px;
    display: block;
}
.tabla-principal tfoot .row{
    height: 100px;
    background-color: #b1b2b5;
    border-radius: 10px;
    margin: 10px;
}
.boton-venta{
    font-size: 30px;
    background-color: #b1b2b5;
    padding: 15px;
    border-radius: 10px;
}
.boton-venta:hover{
    transition: 0.5s;
    background-color: #96979a;
}

.icono-x{
    color: red;
    font-weight: bold;
}


/* Diseno para los botones de la derecha */
.botones button, .botones form{
    width: 300px;
    padding: 30px;
    margin: 10px;
    background-color: #81f598;
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;

}
.botones button:hover{
    transition: 0.4s;
    background-color: #5db282;
    color: white;
}
.botones i{
    font-size: 25px;
}

