*{
    margin: 0;
    padding: 0;
}
/* Barra de navegacion */
nav div img{
    height: 80px;
}
nav{
    background-color: black;
}
nav div i{
    color: white;
    font-size: 50px;
}
nav a{
    color: white;
    font-size: 15px;
    text-decoration: none;
}


/* Estilos para el punto de venta */

.form-escaneo{
    background-color: #5db282;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
}
form input{
    height: 40px;
}
thead .row{
    background-color: #b1b2b5;
    border-radius: 10px;
    margin: 5px 10px 5px 10px;
}
tbody{
    border: 5px solid black;
    min-height: 250px;
    border-radius: 10px;
    margin: 10px;
    display: block;
}
tr td{
    text-align: center;
}
tfoot .row{
    height: 100px;
    background-color: #b1b2b5;
    border-radius: 10px;
    margin: 10px;
}
.boton-venta{
    font-size: 30px;
    background-color: #b1b2b5;
    padding: 15px;
    border-radius: 10px;
}

.icono-x{
    color: red;
    font-weight: bold;
}


/* Diseno para los botones de la derecha */
.botones button, .botones form{
    width: 300px;
    padding: 30px;
    margin: 10px;
    background-color: #81f598;
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
}
.botones i{
    font-size: 25px;
}