*{
    margin: 0;
    padding: 0;
}


/* Contenedor pago */
.contenedor-pago{
    max-width: 800px;
    background-color:rgb(92, 231, 115);
    border-radius: 10px;
}
.contenedor-pago form{
    background-color: lightgray;
    border-radius: 5px;

}
.b-derecha button, .b-derecha p{
    background-color: #5db282;
    width: 100%;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

/*Tabla de tipos de pago*/
.form-escaneo{
    background-color: #5db282;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
}
form input{
    height: 40px;
}
thead .row{
    background-color: #b1b2b5;
    border-radius: 10px;
    margin: 5px 10px 5px 10px;
    text-align: center;
}
tbody{
    border: 5px solid black;
    min-height: 250px;
    border-radius: 10px;
    margin: 10px;
    display: block;
    background-color: white;
    text-align: center;
}

.datos div input{
    width: 300px;
    height: 40px;
    all:unset;

}
.datos p{
    text-align: center;
    padding: 5px;
    width: 300px;
}